/*this is the CSS page for the landing page*/
body {
font-family: 'Luckiest Guy', cursive;
 background-color: lightblue;
  background-image: url('https://i.imgur.com/LIOBDHj.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #4abcff;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;

}

.brand-logo, li {
  position: relative;
 top: 0;
 left: 0;
 bottom: 0;
 right:;

}

#portrait {
    position: relative;
 top: 0;
 left: 0;
 bottom: 0;
 right:;
}

.suba {
 background-color: slategray;
 border: 1px solid;
}

p {
  font-size: 23px;
}

.header {
  text-align: center;
}

.header, .play {
   /*font-family: 'Luckiest Guy', cursive;*/
   font-family: 'Poppins', sans-serif;

}
h1 {
  text-align: center;

}
a {
  color: inherit;
}

.outline {
  display: flex;
  justify-content: center;
}
.scuba-photo {
  display: flex;
  justify-content: center;
  border: 10px solid #4abcff;
  background-color: #4abcff;

}
.background {
  background: url(https://s3.envato.com/files/170596024/City_Background_Ny_4267x2133.jpg);
  background-size: cover;
  height: 700px;
  border: 5px solid;
  animation: move 20s linear infinite;
  background-color: black;
}


.nav-wrapper {
 color: #170058;
}
#myAudio {
  display: flex;
  justify-content: flex-end;

}

#dancer {
 /* position: absolute;
 left: 550px;
 padding-top: 30px;*/
}

footer {
  text-align: center;
}


}*/
/*found the tranistion on http://jsfiddle.net/fengelz/yPnuN/*/
@keyframes move {
  0% {
    background-position:1200px
     }
  100% {
    background-position:0
  }
}


