/*this is the CSS styling page for the Game*/
body, html {
  background-image: url(https://s3.envato.com/files/170596024/City_Background_Ny_4267x2133.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: move 20s linear infinite;


}
/*background animation to change the position*/
@keyframes move {
  0% {
    background-position:1400px
     }
  100% {
    background-position:0
  }
}

/*CSS to move audio to the bottom left section of page*/
audio {
  position: absolute;
  bottom: 0;
  right: 0;

}


  .obama {
  position: absolute;
  background-image: url(images/movingObama.gif);
  width: 120px;
  height: 130px;
 /* transition: top 2s, left 2s;
  transition-timing-function: linear;*/
  /*background-repeat: no-repeat;*/
/*  background-position: -240px 170px;*/
  bottom: 6%;
  left: 40%;
}

.obama.left {
   background-position: 100px 160px;

}

.snowflake {
  position: absolute;
  background-image: url(images/snowflake.png);
  width: 140px;
  height: 170px;
  background-repeat: no-repeat;

}

.hat {
   position: absolute;
  background-image: url(images/hat.png);
  width: 140px;
  height: 170px;
  background-repeat: no-repeat;
  right: 50%;
}

.snowflake.energize {
background-position: center;
background-image: url(images/energize.png);
}




